<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles1.css" rel='stylesheet' type='text/css'/>

  </head>
  <body>
    <h1>CONTACT</h1>

    You contected <%= data.who %> in the <%= data.department %> and email
    <%= data.email %>

  </body>
</html>
